<ul class="social">
  <li><%= link_to 'https://twitter.com/dannemanne84', 'aria-label' => 'This is me on Twitter', rel: 'me' do -%>
      <i aria-hidden="true" class="fab fa-twitter"></i>
    <%- end %></li>
  <li><%= link_to 'https://www.linkedin.com/in/daniel-viklund-83231793/', 'aria-label' => 'This is me on LinkedIn', rel: 'me' do -%>
      <i aria-hidden="true" class="fab fa-linkedin"></i>
    <%- end %></li>
  <li><%= link_to 'https://github.com/dannemanne', 'aria-label' => 'This is me on GitHub', rel: 'me' do -%>
      <i aria-hidden="true" class="fab fa-github"></i>
    <%- end %></li>
  <li><%= link_to 'https://stackoverflow.com/users/511558/dannemanne', 'aria-label' => 'This is me on StackOverflow', rel: 'me' do -%>
      <i aria-hidden="true" class="fab fa-stack-overflow"></i>
    <%- end %></li>
  <li><%= link_to 'https://dev.to/dannemanne', 'aria-label' => 'This is me on Dev.to', rel: 'me' do -%>
      <i aria-hidden="true" class="fab fa-dev"></i>
    <%- end %></li>
  <li><%= link_to 'https://www.buymeacoffee.com/dannemanne', 'aria-label' => 'This is me on BuyMeACoffee', rel: 'me' do -%>
      <i aria-hidden="true" class="fa fa-coffee"></i>
    <%- end %></li>
</ul>
