<% content_for :title do %>About Me<% end %>
<% content_for :head do %>
  <%= render 'structured_data/me' %>
<% end %>

<section class="max-w-3xl mx-auto grid grid-cols-2 mt-8 gap-x-8">
  <div class="col-span-2 mb-6 px-4 md:px-0">
    <h1><%= title "Full-stack developer and sometimes blogger", "I'm Daniel Viklund." %></h1>
    <h2 class="mt-0 text-3xl">Developer by day, Father & Husband as much as I can!</h2>
  </div>

  <div class="col-span-2 md:col-span-1 px-4 md:px-0">
    <p class="text-xl"><%= description "I'm a Software Engineer, based in Hong Kong, specialising in Web Development." %></p>
    <p class="text-xl">I have a very broad experience, having worked on both backend and frontend development. My comfort zones are the Ruby on Rails and React frameworks.</p>
    <p class="text-xl">When I'm not working, I exercise (I wish), study new things (definitely
      not on Twitter), and spend time with my kids (this is true!)</p>

    <%= render 'partials/social' %>

    <h2>Projects I'm involved in</h2>

    <h3><%= link_to 'Happy Rabbit', 'https://www.happyrabbit.com' %></h3>
    <p>
      A Fashion Tech company based in Hong Kong, offering Quality Assurance and Virtual Buying Office services.
    </p>

    <h3><%= link_to 'Fabriqo Organisation', 'https://fabriqo.org' %></h3>
    <p>
      An initiative on how to collaborate around Product Data and how it should be described in the digital world.
    </p>

    <h3><%= link_to 'DePalma Workwear', 'https://depalmaworkwear.com' %></h3>
    <p>
      A workwear brand that makes stylish workwear for professionals and home carpenters.
    </p>
  </div>

  <div class="col-span-2 md:col-span-1">
    <%= image_tag 'Daniel_Viklund.png', alt: 'Profile picture', class: 'rounded w-full max-w-sm' %>
  </div>
</section>
