<section class="welcome">
  <div class="grid-x grid-padding-x">
    <div class="cell title">
      <h1><%= title "Full-stack developer and sometimes blogger", "I'm Daniel Viklund." %></h1>
      <h2>Developer by day, Father & Husband as much as I can!</h2>
    </div>

    <div class="cell medium-6 intro">
      <p><%= description "I'm a Software Developer, based in Hong Kong, specialising in retail and supply chain solutions." %></p>
      <p>I divide my time between Happy Rabbit, a tech-focused service provider
        for fashion companies, and Fabriqo, our initiative for open sourcing
        product data.</p>
      <p>When I'm not working, I exercise (I wish), study new things (definitely
        not on Twitter), and spend time with my kids (this is true!)</p>

      <ul class="social">
        <li><%= link_to 'https://twitter.com/dannemanne84', rel: 'me' do -%>
          <i class="fab fa-twitter"></i>
        <%- end %></li>
        <li><%= link_to 'https://www.linkedin.com/in/daniel-viklund-83231793/', rel: 'me' do -%>
          <i class="fab fa-linkedin"></i>
        <%- end %></li>
        <li><%= link_to 'https://github.com/dannemanne', rel: 'me' do -%>
          <i class="fab fa-github"></i>
        <%- end %></li>
        <li><%= link_to 'https://stackoverflow.com/users/511558/dannemanne', rel: 'me' do -%>
          <i class="fab fa-stack-overflow"></i>
        <%- end %></li>
        <li><%= link_to 'https://dev.to/dannemanne', rel: 'me' do -%>
          <i class="fab fa-dev"></i>
        <%- end %></li>
        <li><%= link_to 'https://www.buymeacoffee.com/dannemanne', rel: 'me' do -%>
          <i class="fa fa-coffee"></i>
        <%- end %></li>
      </ul>

      <% if latest_post %>
        <h2>Latest Blog Article</h2>
        <p>
          <%= link_to latest_post.title, post_path(latest_post) %><br/>
          Posted at <%= latest_post.posted_at.strftime("%b %e, %Y") %>
        </p>
      <% end %>
    </div>

    <div class="cell medium-6 profile">
      <%= image_tag 'Daniel_Viklund.png' %>
    </div>
  </div>
</section>
