<% content_for :title do %>Posts tagged with <%= @tag.name %><% end %>
<% content_for :meta_description do %>News, tips and tutorials about programming. Here are posts tagged with <%= @tag.name %><% end %>

<h1><%= @tag.name %></h1>

<% if can? :update, @tag %>
  <p><%= link_to 'Edit', edit_tag_path(@tag) %></p>
<% end %>

<h2>Tagged posts</h2>
<% @tag.posts.each do |post| %>

  <%= render '/posts/post_teaser', post: post %>

<% end %>

<%= render 'partials/disqus_count' %>
