<div class="grid-x">
  <div class="cell medium-8 medium-offset-2 large-6 large-offset-3">
    <h2 class="text-center">Sign in</h2>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <h5><%= f.label :email %></h5>
      <%= f.text_field :email %>

      <h5><%= f.label :password %></h5>
      <%= f.password_field :password %>

      <% if devise_mapping.rememberable? -%>
        <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
      <% end -%>

      <p><%= f.submit "Sign in", class: 'button' %></p>
    <% end %>

    <%= render :partial => "devise/shared/links" %>
  </div>
</div>
