<div class="message">
  <a id="comment_<%= comment.id %>"></a>
  <h2 class="message_title"><%= comment_header(comment) %></h2>
  <%= comment.message %>
  <div class="actions">
   <% if can? :comment, @post %>
      <%= link_to "Reply", "#", "data-toggle" => "message_reply_#{comment.id}" %>
    <% end %>
    <% if can? :destroy, comment %>
      <%= link_to "Delete", comment_path(comment), method: :delete %>
    <% end %>
    <div class="reply" id="message_reply_<%= comment.id %>">
      <%= render "comment_form", comment: @comment && @comment.parent_id == comment.id && @comment || Comment.new(parent_id: comment.id) %>
    </div>
  </div>
</div>
