<script type="text/javascript">
// Setup the WYSIWYM editor!
jQuery(window).load(function() {
    jQuery('#post_body').wysiwym(Wysiwym.Markdown, {});

    var availableTags = <%= Tag.all.map(&:name).to_json.html_safe %>;

    function split( val ) {
        return val.split( /,\s*/ );
    }
    function extractLast( term ) {
        return split( term ).pop();
    }

    $( "#post_tag_names" )
        // don't navigate away from the field on tab when selecting an item
        .bind( "keydown", function( event ) {
            if ( event.keyCode === $.ui.keyCode.TAB &&
                    $( this ).data( "autocomplete" ).menu.active ) {
                event.preventDefault();
            }
        })
        .autocomplete({
            minLength: 0,
            source: function( request, response ) {
                // delegate back to autocomplete, but extract the last term
                response( $.ui.autocomplete.filter(
                    availableTags, extractLast( request.term ) ) );
            },
            focus: function() {
                // prevent value inserted on focus
                return false;
            },
            select: function( event, ui ) {
                var terms = split( this.value );
                // remove the current input
                terms.pop();
                // add the selected item
                terms.push( ui.item.value );
                // add placeholder to get the comma-and-space at the end
                terms.push( "" );
                this.value = terms.join( ", " );
                return false;
            }
        });
});
</script>
<% if f.object.errors.any? %>
  <ul>
    <% f.object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<h2><%= f.label :title %></h2>
<p><%= f.text_field :title %></p>

<h2><%= f.label :body %></h2>
<p><%= f.text_area :body, :style => "width: 600px; height: 200px; resize: vertical;", "data-parse" => "live", "data-parse-preview" => "#post_body_preview" %></p>

<div class="clear"></div>
<h2>Preview of post</h2>
<div id="post_body_preview" class="post-preview"></div>

<h2><%= f.label :tag_names %></h2>
<p><%= f.text_field :tag_names %></p>

<h2><%= f.label :status %></h2>
<p><%= f.radio_button :status, PostStatus::POSTED %> Draft</p>
<p><%= f.radio_button :status, PostStatus::POSTED %> Published</p>

<h2><%= f.label :allow_comments %></h2>
<p>
  <%= f.radio_button :allow_comments, false %> No
  <%= f.radio_button :allow_comments, true %> Yes
</p>

<h2><%= f.submit "Save" %></h2>
