<article>
  <script type="text/javascript">
  jQuery(window).load(function() {
    parse_preview(jQuery("#post_preview_<%= post.id %>"));
  });
  </script>
  <header>
    <h2><%= link_to post.title, post_path(post) %></h2>
    <p style="color: rgb(169,169,169); margin-bottom: 3px;">
      <%= post.posted_at.strftime("%a, %Y-%m-%d %H:%M") %> - <%= post.user.display_name %>
      <% if can? :update, post %>
        - <%= link_to "Edit", edit_post_path(post) %>
      <% end %>
    </p>
  </header>
  <section id="post_preview_<%= post.id %>">
    <%= post.display_body %>
  </section>
  <section>
    <p><%= link_to "Read More >>", post_path(post) %></p>
    <p>
      <% if false # Temporary remove comments %>
      <span style="float:left;"><%= post.comments_count %> Comments</span>
      <% end %>
      <span style="float:right;">
        <% if post.tags.any? %>
          Tags:
          <% post.tags.each_with_index do |tag, i| %><% if i != 0 %>,<% end %>
            <%= link_to tag_path(tag), :class => "postTag", :title => "View posts tagged with #{tag.name}", :rel => "tag" do %>
              <span class="postTagText"><%= tag.name %></span><% end %><% end %>
        <% end %>
      </span>
    </p>
    <div class="clear"></div>
  </section>
</article>
