<article class="post-teaser px-4 md:px-0 pb-4">
  <header>
    <% if post.series_title.present? %>
      <p class="text-gray-500 text-lg md:text-xl mt-8 mb-0"><%= post.display_series %></p>
      <h2 class="mt-0"><%= link_to post.title, post_path(post) %></h2>
    <% else %>
      <h2><%= link_to post.title, post_path(post) %></h2>
    <% end %>

    <p class="text-gray-500 mb-1 -mt-2">
      <%= post.posted_at.strftime("%b %e, %Y") %> - <%= post.user.display_name %>
      <% if can? :update, post %>
        - <%= link_to "Edit", edit_post_path(post) %>
      <% end %>
    </p>
  </header>
  <section class="mb-4">
    <%= post.display_preview %>
  </section>
  <section>
    <% if post.tags.any? %>
      <p class="flex justify-start">
        <% post.tags.each_with_index do |tag, i| %>
          <%= link_to tag_path(tag), :class => "mr-4", :title => "View posts tagged with #{tag.name}", :rel => "tag" do %>
            <span class="text-gray-500">#</span><%= tag.name %>
          <% end %>
        <% end %>
    <% end %>
      </p>
    <% if post.allow_comments %>
      <p>
        <span class="disqus-comment-count" data-disqus-url="<%= post_url(post) %>"></span>
      </p>
    <% end %>
  </section>
</article>
