<article>
  <header>
    <h2><%= link_to post.title, post_path(post) %></h2>
    <p style="color: rgb(169,169,169); margin-bottom: 3px;">
      <%= post.posted_at.strftime("%b %e, %Y") %> - <%= post.user.display_name %>
      <% if can? :update, post %>
        - <%= link_to "Edit", edit_post_path(post) %>
      <% end %>
    </p>
  </header>
  <section>
    <%= post.display_preview %>
  </section>
  <section>
    <p><%= link_to "Read More >>", post_path(post) %></p>
    <p>
      <% if post.allow_comments %>
        <span style="float:left;" class="disqus-comment-count" data-disqus-url="<%= post_url(post) %>"></span>
      <% end %>
      <span style="float:right;">
        <% if post.tags.any? %>
          Tags:
          <% post.tags.each_with_index do |tag, i| %><% if i != 0 %>,<% end %>
            <%= link_to tag_path(tag), :class => "postTag", :title => "View posts tagged with #{tag.name}", :rel => "tag" do %>
              <span class="postTagText"><%= tag.name %></span><% end %><% end %>
        <% end %>
      </span>
    </p>
    <div class="clear"></div>
  </section>
</article>
