<% content_for :title do %>Posts from <%= archive_date.strftime('%B %Y') %><% end %>
<% content_for :meta_description do %>News, tips and tutorials about programming. Listing all posts from <%= archive_date.strftime('%B %Y') %><% end %>

<h1><%= archive_date.strftime('%B %Y') %></h1>
<% @posts.each do |post| %>

  <%= render '/posts/post_preview', post: post %>
  <div style="height: 1px; background-color: rgb(212,212,212); margin: 10px 0;"></div>

<% end %>

<%= render 'partials/disqus_count' %>

<% content_for :sidebar_right do %>
  <%= archive_tag %>
  <%= popular_tags %>
<% end %>
