<% @posts.each do |post| %>

  <%= render "/posts/post_preview", :post => post %>
  <div style="height: 1px; background-color: rgb(212,212,212); margin: 10px 0;"></div>

<% end %>

<nav class="prev-next">
  <% if @page > 1 %>
    <span><%= link_to "< Next", posts_page_path(@page -1), :title => "Go to the next page", :rel => "next" %></span>
  <% else %>
    <span>< Next</span>
  <% end %>
  <% (1..@no_of_pages).each do |p| %>
    <% if p == @page %>
      <span style="text-decoration: underline;"><%= p %></span>
    <% else %>
      <span><%= link_to p, posts_page_path(p), :title => "Go to page #{p}", :rel => "index" %></span>
    <% end %>
  <% end %>
  <% if @page < @no_of_pages %>
    <span><%= link_to "Previous >", posts_page_path(@page +1), :title => "Go to the previous page", :rel => "prev" %></span>
  <% else %>
    <span>Previous ></span>
  <% end %>
</nav>
