<% content_for :title do %><%= @post.title %><% end %>
<article>
  <header>
    <h1><%= @post.title %></h1>
    <p style="color: rgb(169,169,169); margin-bottom: 3px;">
      <%= @post.posted_at.strftime("%b %e, %Y") %> - <%= link_to @post.user.display_name, about_path, :rel => "author" %>
      <% if can? :update, @post %>
        - <%= link_to "Edit", edit_post_path(@post) %>
      <% end %>
    </p>
  </header>

  <section data-parse="once">
    <%= @post.display_body %>
  </section>

  <section>
    <span style="float:right;">
      <% if @post.tags.any? %>
        Tags:
        <% @post.tags.each_with_index do |tag, i| %><% if i != 0 %>,<% end %>
          <%= link_to tag_path(tag), :class => "postTag", :title => "View posts tagged with #{tag.name}", :rel => "tag" do %>
            <span class="postTagText"><%= tag.name %></span><% end %><% end %>
      <% end %>
    </span>
    <div class="clear"></div>

    <% if @post.allow_comments %>
      <h3>Comments</h3>
      <% if @post.comments.length > 0 %>
        <% @post.comments.each do |comment| %>
          <a id="comment_<%= comment.id %>"></a>
          <div style="height: 1px; background-color: rgb(212,212,212); margin: 10px 0;"></div>
          <h2><%= link_to comment.title, post_path(@post, :anchor => "comment_#{comment.id}") %>
            <span style="float: right; font-size: 8pt;">
              <%= comment.created_at.strftime("%a, %Y-%m-%d %H:%M") %><% if comment.user %> - <%= comment.user.display_name %><% end %>
            </span>
          </h2>
          <p><%= comment.message %></p>
        <% end %>
      <% else %>
        <p>No comments yet</p>
      <% end %>
      <% if can? :comment, @post %>
        <%= form_for @comment || @post.comments.new, :url => { :action => :comment } do |f| %>
          <p><%= f.text_field :title, :placeHolder => "Title", :style => "width: 300px;" %></p>
          <p><%= f.text_area :message, :style => "height: 50px; width: 300px; font-family:arial,sans-serif; font-size: 10pt;", :placeHolder => "Message" %></p>
         <% if user_signed_in? %>
             <p>As <%= current_user.name %></p>
          <% else %>
            <p>As Anonymous. <%= link_to "Login", new_user_session_path %> to post personal comment.</p>
          <% end %>
          <p><%= f.submit "Comment" %></p>
        <% end %>
      <% end %>
    <% end %>

    <% if @post.newer_post %>
      <span style="float: left;"><%= link_to "< #{@post.newer_post.title}", post_path(@post.newer_post), :rel => "next", :title => "View the next post: #{@post.newer_post.title}" %></span>
    <% end %>
    <% if @post.older_post %>
      <span style="float: right;"><%= link_to "#{@post.older_post.title} >", post_path(@post.older_post), :rel => "prev", :title => "View the previous post: #{@post.older_post.title}" %></span>
    <% end %>
    <div class="clear"></div>
  </section>
</article>

<% content_for :sidebar_right do %>
  <%= archive_tag %>
  <%= popular_tags %>
<% end %>
