<% content_for :title do %><%= @post.title %><% end %>
<% content_for :meta_description do %><%= @post.meta_description %><% end %>
<article>
  <header>
    <h1><%= @post.title %></h1>
    <p style="color: rgb(169,169,169); margin-bottom: 3px;">
      <%= @post.posted_at.strftime("%b %e, %Y") %>
      <% if can? :update, @post %>
        - <%= link_to "Edit", edit_post_path(@post) %>
      <% end %>
    </p>
  </header>

  <section data-parse="once"><%= @post.body %></section>

  <footer>
    <div class="grid-x grid-padding-x">
      <div class="cell text-right">
        <% if @post.tags.any? %>
          Tags:
          <% @post.tags.each_with_index do |tag, i| %><% if i != 0 %>,<% end %>
            <%= link_to tag_path(tag), :class => "postTag", :title => "View posts tagged with #{tag.name}", :rel => "tag" do %>
              <span class="postTagText"><%= tag.name %></span><% end %><% end %>
        <% end %>
      </div>
    </div>
    <div class="clear"></div>

    <% if @post.allow_comments %>
      <% if Rails.env.production? %>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'dannemanne'; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <% end %>
    <% end %>

    <% if @post.newer_post %>
      <span style="float: left;"><%= link_to "< #{@post.newer_post.title_preview}", post_path(@post.newer_post), :rel => "next", :title => "View the next post: #{@post.newer_post.title}" %></span>
    <% end %>
    <% if @post.older_post %>
      <span style="float: right;"><%= link_to "#{@post.older_post.title_preview} >", post_path(@post.older_post), :rel => "prev", :title => "View the previous post: #{@post.older_post.title}" %></span>
    <% end %>
    <div class="clear"></div>
  </footer>
</article>

<% content_for :sidebar_right do %>
  <%= archive_tag %>
  <%= popular_tags %>
<% end %>
