<% content_for :title do %><%= @post.title %><% end %>
<% content_for :meta_description do %><%= @post.meta_description %><% end %>
<article>
  <header>
    <h1><%= @post.title %></h1>
    <p style="color: rgb(169,169,169); margin-bottom: 3px;">
      <%= @post.posted_at.strftime("%b %e, %Y") %> - <%= link_to @post.user.display_name, about_path, :rel => "author" %>
      <% if can? :update, @post %>
        - <%= link_to "Edit", edit_post_path(@post) %>
      <% end %>
    </p>
  </header>

  <section data-parse="once">
    <%= @post.display_body %>
  </section>

  <section>
    <span class="postTagContainer">
      <% if @post.tags.any? %>
        Tags:
        <% @post.tags.each_with_index do |tag, i| %><% if i != 0 %>,<% end %>
          <%= link_to tag_path(tag), :class => "postTag", :title => "View posts tagged with #{tag.name}", :rel => "tag" do %>
            <span class="postTagText"><%= tag.name %></span><% end %><% end %>
      <% end %>
    </span>
    <div class="clear"></div>

    <% if @post.allow_comments %>
      <h3>COMMENTS</h3>
      <% if @post.comments.any? %>
        <%= nested_comments @post.comments.arrange(order: :created_at) %>
      <% else %>
        <p style="font-style: italic;">No comments yet</p>
      <% end %>
      <% if can? :comment, @post %>
        <%= render "comment_form", comment: @comment && @comment.parent_id.nil? && @comment || Comment.new %>
      <% end %>
    <% end %>

    <% if @post.newer_post %>
      <span style="float: left;"><%= link_to "< #{@post.newer_post.title_preview}", post_path(@post.newer_post), :rel => "next", :title => "View the next post: #{@post.newer_post.title}" %></span>
    <% end %>
    <% if @post.older_post %>
      <span style="float: right;"><%= link_to "#{@post.older_post.title_preview} >", post_path(@post.older_post), :rel => "prev", :title => "View the previous post: #{@post.older_post.title}" %></span>
    <% end %>
    <div class="clear"></div>
  </section>
</article>

<% content_for :sidebar_right do %>
  <%= archive_tag %>
  <%= popular_tags %>
<% end %>
