<% content_for :javascript do %>
  <%= javascript_include_tag 'https://code.jquery.com/jquery-1.12.4.min.js' %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/prism.min.js' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/components/prism-qore.min.js' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/autoloader/prism-autoloader.min.js' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/showdown/0.1.0/showdown.min.js' %>
  <%= javascript_pack_tag 'editor' %>

  <script type="text/javascript">
    jQuery(window).load(function() {
      $(function() {
      var availableTags = <%= CheatSheet.select("DISTINCT category").map(&:category).to_json.html_safe %>;
        $( "#cheat_sheet_category" ).autocomplete({
          source: availableTags
        });
      });
    });
  </script>
<% end %>

<% if f.object.errors.any? %>
  <ul>
    <% f.object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<h2><%= f.label :title %></h2>
<p><%= f.text_field :title %></p>

<h2><%= f.label :category %></h2>
<p><%= f.text_field :category %></p>

<h2><%= f.label :body %></h2>
<p><%= f.text_area :body, :style => "width: 600px; height: 200px; resize: vertical;", "data-parse" => "live", "data-parse-preview" => "#cheat_sheet_body_preview" %></p>

<div class="clear"></div>
<h2>Preview of Cheat Sheet</h2>
<div id="cheat_sheet_body_preview" class="post-preview"></div>

<h2><%= f.submit "Save" %></h2>
