<% content_for :javascript do %>
  <%= javascript_include_tag 'https://code.jquery.com/jquery-1.12.4.min.js' %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/prism.min.js' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/components/prism-qore.min.js' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/autoloader/prism-autoloader.min.js' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/showdown/0.1.0/showdown.min.js' %>

  <script type="text/javascript">
    jQuery(window).load(function() {
      $(function() {
      var availableTags = <%= CheatSheet.select("DISTINCT category").map(&:category).to_json.html_safe %>;
        $( "#cheat_sheet_category" ).autocomplete({
          source: availableTags
        });
      });
    });
  </script>

  <script type="text/javascript">
      docReady(function() {
          // Setup the WYSIWYM editor!
          const bodyElement = document.querySelector('[data-parse]');
          const handleChange = function(event) {
              const area = event ? event.target : bodyElement;
              const targetElement = document.querySelector(area.dataset.parse);
              var showdown = new Showdown.converter();
              const html = showdown.makeHtml(area.value);
              targetElement.innerHTML = html;
              Prism.highlightAll();

              if (area.dataset.parseSave) {
                  const saveToElement = document.querySelector(area.dataset.parseSave);
                  saveToElement.value = targetElement.innerHTML;
              }
          };

          if (bodyElement.addEventListener) {
              bodyElement.addEventListener('input', handleChange, false);
          } else if (area.attachEvent) {
              bodyElement.attachEvent('onpropertychange', handleChange);
          }
      });
  </script>
<% end %>

<% if f.object.errors.any? %>
  <ul>
    <% f.object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<label class="block text-sm mb-2">
  Title
  <%= f.text_field :title, class: 'block shadow appearance-none border w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
</label>

<label class="block text-sm mb-2">
  Category
  <%= f.text_field :category, class: 'block shadow appearance-none border w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
</label>

<label class="block text-sm mb-2">
  Body
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
      <%= f.text_area :body, class: "text-sm min-h-full block shadow appearance-none border h-32 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", "data-parse" => "#post_body_preview", 'data-parse-save' => '.js-parsed-body-field' %>
    </div>

    <div id="post_body_preview" class="post-preview">
      <%=f.object.parsed_body&.html_safe %>
    </div>
  </div>
</label>
<%= f.hidden_field :parsed_body, class: 'js-parsed-body-field' %>

<h2><%= f.submit "Save", class: "text-xs py-2 px-8 uppercase tracking-wider box-border focus:outline-none whitespace-nowrap bg-white hover:bg-gray-200 focus:bg-gray-200 disabled:text-gray-500 text-black" %></h2>
