<% content_for :title do %>Cheat Sheets<% end %>
<% content_for :meta_description do %>News, tips and tutorials about programming. Here you can browse all Cheat Sheets<% end %>

<h1>CHEAT SHEETS</h1>

<section id="table-of-content">
  <ol class="toc">
    <% @cheat_sheet_groups.each do |category_stub, cheat_sheets| %>
      <li>
        <h2><%= link_to cheat_sheets.first.category, "##{category_stub}" %></h2>
        <ol>
          <% cheat_sheets.each do |cheat_sheet| %>
            <li><%= link_to cheat_sheet.title, "##{cheat_sheet.title_stub}" %></li>
          <% end %>
        </ol>
      </li>
    <% end %>
  </ol>

</section>

<% @cheat_sheet_groups.each do |category_stub, cheat_sheets| %>
  <section id="<%= category_stub %>">
    <h2><%= cheat_sheets.first.category %></h2>
    <div class="margin_10"></div>

    <% cheat_sheets.each do |cheat_sheet| %>
      <section id="<%= cheat_sheet.title_stub %>">
        <h3><%= cheat_sheet.title %></h3>
        <% if can? :update, cheat_sheet %><p><%= link_to "Edit", edit_cheat_sheet_path(cheat_sheet) %></p><% end %>
        <section data-parse="once">
          <%= cheat_sheet.display_body %>
        </section>
        <p><%= link_to "Back to Table of Content", "#table-of-content", :rel => "index" %></p>
      </section>
    <% end %>
  </section>
<% end %>
