<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title><%= content_for?(:title) ? yield(:title) : "Yet another coding Blog" %> | DanneManne.com</title>
  <link rel="pingback" href="<%= pingback_server_url %>" />
  <link rel="sitemap" href="/sitemap.xml" />
  <link rel="shortcut icon" href="/images/favicon.ico">
  <%= tag :meta, :name => "description", :content => (content_for?(:meta_description) ? yield(:meta_description) : "News, tips and tutorials about programming. Mostly about Ruby, Rails and Node.js but anything can come up.") %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" %>
  <%= javascript_include_tag "http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" %>
  <%= stylesheet_link_tag "application" %>

  <%= csrf_meta_tag %>

  <% if Rails.env.production? %>
    <%= render "partials/google_analytics" %>
  <% end %>
</head>
<body>

<div id="container">
  <div id="header-top">
    <div class="container_12">
      <div class="grid_12">
        <% if user_signed_in? %>
          <span class="wrap_right">Logged in as <%= current_user.display_name %>. <%= link_to "Logout", destroy_user_session_path, :title => "Logout user #{current_user.display_name}" %></span>
        <% else %>
          <span class="wrap_right"><%= link_to "Login", new_user_session_path, :title => "Login to DanneManne.com" %></span>
        <% end %>
      </div>
    </div>
  </div>

  <header class="body-header">
    <div class="container_12">

      <div class="grid_2">
        <%= link_to image_tag("/images/logo.png", :class => "header-logo"), root_path %>
      </div>

      <div class="grid_8">
        <%= image_tag "/images/header.png" %>
      </div>

      <div class="grid_2">&nbsp;</div>

      <div class="clear"></div>
    </div>
  </header>

  <div id="content">

    <div id="main" class="container_12">

      <div id="left_side" class="grid_2">
        <section>
          <h2>LATEST POSTS</h2>
          <ul>
            <% recent_posts.each do |post| %>
              <li><%= link_to post.title, post_path(post), :title => "View post: #{post.title}" %></li>
            <% end %>
            <li style="padding-top: 15px;"><%= link_to "... more Posts", posts_path, :title => "View more Posts" %></li>
          </ul>
        </section>

        <section>
          <h2>RESOURCES</h2>
          <ul>
            <li><%= link_to "Projects", projects_path, :title => "View all Projects" %></li>
            <li><%= link_to "Cheat Sheets", cheat_sheets_path, :title => "Browse my Cheat Sheets" %></li>
            <li><%= link_to "About Me", about_path, :title => "About me" %></li>
          </ul>
        </section>
      </div>

      <div id="workspace" class="grid_8">
        <div style="padding: 0 10px;">
          <%= yield %>
        </div>
      </div>

      <div id="right_side" class="grid_2">

        <%= yield :sidebar_right %>

        <% if user_signed_in? %>
          <section>
            <h2>TOOLS</h2>
            <ul>
              <% if can? :create, Post %>
                <li><%= link_to "New Post", new_post_path %></li>
                <% if current_user.posts.drafts.any? %>
                  <li><%= link_to"Drafts (#{current_user.posts.drafts.count})", drafts_path %></li>
                <% end %>
              <% end %>
              <% if can? :create, CheatSheet %><li><%= link_to "New Cheat Sheet", new_cheat_sheet_path %></li><% end %>
            </ul>
          </section>
        <% end %>

        <section>
          <% if Rails.env.production? %>
            <a target="_blank" href="http://affiliate.godaddy.com/redirect/D977424A8125589D47110BFC95D3A75D2B620E732AAE57F8FE9B27C136D8CB7396704B4D47D2D0B7F93FF1C19FBC289A44283E8490B4DE3E3307A3910A18894E"><img src="http://affiliate.godaddy.com/ads/D977424A8125589D47110BFC95D3A75D2B620E732AAE57F8FE9B27C136D8CB7396704B4D47D2D0B7F93FF1C19FBC289A44283E8490B4DE3E3307A3910A18894E" border="0" width="120"  height="240" alt="Go Daddy Deal of the Week: Get Deluxe Web Hosting for just $5/mo! Offer expires 4/24/12"/></a>
          <% else %>
            <div style="width: 120px; height: 240px; background-color: #ddd;">Ads</div>
          <% end %>
        </section>
      </div>

      <div class="clear"></div>

    </div>

  </div>

  <footer>

    <div class="container_12">

      <div class="grid_2">&nbsp;</div>
      <div class="grid_8">
        <p style="text-align: center">
          <span>Copyright © <%= DateTime.now.year %></span>
          <span style="margin: 0 3px;">|</span>
          <span><%= link_to 'About', about_path %></span>
          <span style="margin: 0 3px;">|</span>
          <span><%= link_to 'info@dannemanne.com', 'mailto:info@dannemanne.com' %></span>
          <span style="margin: 0 3px;">|</span>
          <span><a href="http://affiliate.godaddy.com/redirect/0B39B79C3D795D72A3EDC7DB46A9DF44EBA179C0E9E1E9C4451059E3E737319A48DC102E020DE638F5311AABFE92330C20A5357462FE79A49CA3DE36679B1A10" target="_blank" title="GoDaddy.com">GoDaddy.com</a><img src="http://affiliate.godaddy.com/content/spacer.png?q=0B39B79C3D795D72A3EDC7DB46A9DF44EBA179C0E9E1E9C4451059E3E737319A48DC102E020DE638F5311AABFE92330C20A5357462FE79A49CA3DE36679B1A10" width="0" height="0" alt=""/></span>
        </p>
      </div>
      <div class="grid_2">&nbsp;</div>
      <div class="clear"></div>
    </div>

  </footer>

</div>

</body>
</html>
