<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= display_meta_tags site: 'DanneManne' %>

  <link rel="pingback" href="<%= pingback_server_url %>" />
  <%= canonical_tag -%>
  <link rel="sitemap" href="/sitemap.xml" />
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag 'application' %>

  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css', rel: 'preload', as: 'style', onload: "this.onload=null;this.rel='stylesheet'" %>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css' # Duplicate declaration afterwards because no support for preload in FireFox
  %>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/themes/prism-dark.min.css', rel: 'preload', as: 'style', onload: "this.onload=null;this.rel='stylesheet'" %>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/themes/prism-dark.min.css' # Duplicate declaration afterwards because no support for preload in FireFox
  %>

  <%= stylesheet_pack_tag 'application' %>

  <%= render 'partials/gtm' %>
  <%= javascript_pack_tag 'application' %>

  <%= csrf_meta_tag %>

  <script type="application/ld+json">
    <%=
      {
        "@context": "http://schema.org",
        "@type": "Website",
        "name": "DanneManne",
        "url": canonical_href,
        "author": {
          "@type": "Person",
          "familyName": "Viklund",
          "givenName": "Daniel",
          "name": "Daniel Viklund",
          "alternateName": "DanneManne",
          "sameAs": [
            "https://twitter.com/dannemanne84",
            "https://www.linkedin.com/in/daniel-viklund-83231793/",
            "https://github.com/dannemanne",
            "https://stackoverflow.com/users/511558/dannemanne",
            "https://dev.to/dannemanne",
            "https://www.buymeacoffee.com/dannemanne",
          ],
        },
      }.to_json.html_safe
    %>
  </script>
  <%= yield :head %>
</head>
<body class="bg-black text-gray-300">
<%= render 'partials/gtm_noscript' %>

<div class="flex flex-col min-h-screen justify-between">

  <header class="fixed top-0 left-0 right-0 px-6 flex flex-col pin-t pin-r pin-l z-50 bg-black border-b border-gray-700">
    <nav id="sticky-header" class="flex items-center justify-between h-16">
      <div>
        <%= link_to 'DanneManne', root_path %>
      </div>

      <div>
        <ul class="menu flex">
          <li class="ml-4"><%= link_to 'Blog', posts_path, class: 'text-gray-300' %></li>
          <li class="ml-4"><%= link_to 'Sandbox', 'https://viklund.dev', target: '_blank', rel: 'noopener', class: 'text-gray-300' %></li>
          <% if user_signed_in? %>
            <li class="ml-4">
              <%= link_to 'Drafts', drafts_path, class: 'text-gray-300' %>
            </li>
            <li class="ml-4">
              <%= link_to 'New Post', new_post_path, class: 'text-gray-300' %>
            </li>
            <li class="ml-4">
              <%= link_to destroy_user_session_path, title: "Logout user #{current_user.display_name}", class: 'text-gray-300' do %>
                <i class="fa fa-sign-out-alt"></i>
              <% end %>
            </li>
          <% else %>
            <li class="ml-4">
              <%= link_to new_user_session_path, title: 'Login to DanneManne.com', class: 'text-gray-300' do -%>
                <i class="fa fa-sign-in-alt"></i>
              <% end -%>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>

  <main class="mb-auto pt-16">
    <div class="container mx-auto <%= content_for?(:grid_container_class) ? yield(:grid_container_class) : '' %>">
      <div class="max-w-3xl mx-auto">
        <%= yield %>
      </div>
    </div>
  </main>

  <footer class="flex text-xs h-16 justify-center items-end pb-4">
    <span>Copyright © <%= Date.today.year %></span>
    <span style="margin: 0 3px;">|</span>
    <span><%= link_to 'About', about_path %></span>
    <span style="margin: 0 3px;">|</span>
    <span><%= link_to 'info@dannemanne.com', 'mailto:info@dannemanne.com' %></span>
  </footer>
</div>

<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/prism.min.js' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/components/prism-qore.min.js' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/autoloader/prism-autoloader.min.js' %>
<%= javascript_include_tag 'https://code.jquery.com/jquery-1.12.4.min.js' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/showdown/0.1.0/showdown.min.js' %>
<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js' %>
<%= javascript_include_tag 'https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' %>

<script type="text/javascript">
  <% if content_for? :javascript_code %>
  <%= yield :javascript_code %>
  <% end %>
</script>

<% if Rails.env.production? %>
  <%= render 'partials/google_analytics' %>
  <script type="text/javascript"><!--
  google_ad_client = "ca-pub-1507841842116581";
  /* Main Banner */
  google_ad_slot = "8960650403";
  google_ad_width = 468;
  google_ad_height = 60;
  //-->
  </script>
<% end %>
</body>
</html>
