<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "Code" %> | DanneManne.com</title>
  <link rel="pingback" href="<%= pingback_server_url %>" />
  <link rel="sitemap" href="/sitemap.xml" />
  <link rel="shortcut icon" href="/favicon.ico">
  <%= tag :meta, name: 'description', content: (content_for?(:meta_description) ? yield(:meta_description) : 'News, tips and tutorials about programming. Mostly about Ruby, Rails and Node.js but anything can come up.') %>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css' %>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/themes/prism-dark.min.css' %>

  <%= csrf_meta_tag %>

  <%= javascript_include_tag 'vendor/modernizr' %>
</head>
<body>

<div id="wrap">
  <div class="top-bar-container" data-sticky-container>
    <div class="sticky-topbar sticky" data-sticky data-sticky-on="small" data-options="marginTop: 0;">
      <div class="top-bar">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text"><%= link_to 'DanneManne', root_path %></li>
          </ul>
        </div>

        <div class="top-bar-right">
          <ul class="menu">
            <% if user_signed_in? %>
              <li style="background: none;"><p>Logged in as <%= current_user.display_name %>.</p></li>
              <li class="active">
                <%= link_to 'View Drafts', drafts_path %>
              </li>
              <li class="active">
                <%= link_to 'New Post', new_post_path %>
              </li>
              <li class="active">
                <%= link_to 'Profile', profiles_path %>
              </li>
              <li class="active">
                <%= link_to 'Logout', destroy_user_session_path, title: "Logout user #{current_user.display_name}" %>
              </li>
            <% else %>
              <li class="active">
                <%= link_to new_user_session_path, title: 'Login to DanneManne.com' do -%>
                  <i class="fa fa-sign-in-alt"></i>
                <% end -%>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <main>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell medium-3 large-2">
          <%= render 'partials/side_menu' %>
        </div>

        <div class="cell medium-9 large-8">
          <%= yield %>
        </div>

        <div class="cell large-2 hide-for-medium-down">

        </div>
      </div>
    </div>
  </main>
</div>

<footer class="page-footer">

  <div class="grid-x">
    <div class="cell large-offset-2 large-8 end">
      <p class="text-center">
        <span>Copyright © <%= Date.today.year %></span>
        <span style="margin: 0 3px;">|</span>
        <span><%= link_to 'About', about_path %></span>
        <span style="margin: 0 3px;">|</span>
        <span><%= link_to 'info@dannemanne.com', 'mailto:info@dannemanne.com' %></span>
      </p>
    </div>
  </div>

</footer>

<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/prism.min.js' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/components/prism-qore.min.js' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/autoloader/prism-autoloader.min.js' %>
<%= javascript_include_tag 'https://code.jquery.com/jquery-1.10.2.min.js' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/showdown/0.1.0/showdown.min.js' %>
<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js' %>
<%= javascript_include_tag 'https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' %>

<script type="text/javascript">
  <% if content_for? :javascript_code %>
  <%= yield :javascript_code %>
  <% end %>
</script>

<% if Rails.env.production? %>
  <%= render 'partials/google_analytics' %>
  <script type="text/javascript"><!--
  google_ad_client = "ca-pub-1507841842116581";
  /* Main Banner */
  google_ad_slot = "8960650403";
  google_ad_width = 468;
  google_ad_height = 60;
  //-->
  </script>
<% end %>
</body>
</html>
